body {
  margin: 0;
  font-family: 'K2D', serif;
  color: white;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
  z-index: -1;
}

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar-container {
  display: flex;
  align-items: center; /* จัดให้อยู่ตรงกลางแนวแกน Y */
  justify-content: space-between; /* กระจายโลโก้กับแท็บให้ห่างกัน */
  padding: 10px 20px;
 
}

.navbar {
  display: flex;
  justify-content:end;
  margin: 0;
  padding: 4px;
  border-bottom: 3px solid rgb(106, 106, 106);
  gap: 20px;
  white-space: nowrap;
}
.navbar a {
  margin: 10px;
  text-decoration: none;
  color: rgb(184, 184, 184);
  font-size: 18px;
  transition: color 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสี */
}

.navbar a.active {
  color: rgb(255, 255, 255);
}

.logo {
  top: 10px;
  left:10px;
}
.logo img {
  width: 60px;
}

.grid-container {
  max-width: 1200px;
  margin: 5px 160px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  align-items: center;
}

.image-container {
  grid-column: 1 / 2;
}

.image-container img {
  width: 600px;
  height: 540px;
  border-radius: 43px;
  object-fit: fill;
  margin-top: 25px;
  margin-right: 20px;
}

.right-container {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info-box{
  background-color: #272700;
  color: white;
  padding: 20px;
  border-radius: 43px;
  text-align: center;
  margin-top: 25px;
}
.container-activity-box{
  background-color: #18161D;
  color: white;
  padding: 20px;
  border-radius: 43px;
  text-align: left;
  margin-top: 10px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0%;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .image-container img {
    width: 100%;
  }
}

/* Rectangle 3 */

position: absolute;
width: 906px;
height: 850px;

background: url(image.png), #D9D9D9;
border-radius: 50px;
